#menu-button{
  color: #fff;
}
.image-preview{
  height: 100px;
  width: 100px;
}

.banner{
  background-image:url('./images/banner.png');
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel{
  width: 500px;
}

#employee-pages{
  justify-content:center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.locations-list-row{
  justify-content: center;
}

#locations-list{
  background-color: #F5F5F5;
  flex-direction:row;
}

.location-title{
  font-size: 14px;
}

.location-form-modal{
    width: 50vw;
    max-width: 50vw;
}

@media (max-width: 796px) {
  .location-form-modal{
      width: 90vw;
      max-width: 90vw;
  }
}

.days-open{
  margin-top: 30px;
  margin-bottom: 0px;
}

.hours-open{
  margin-top: 10px;
  margin-bottom: 0px;
}

#open-info-lable{
  margin-left: 20px;
  margin-right: 10px;
}
